body,ul,li,p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 20px;
    font-family: 'Lobster', cursive;
}
body{
    background-color: rgb(249, 212, 6);
}

a {
    color: gold;
    text-decoration:none;

}
header {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    align-items: center;
    background-color: black;
}
.redes {
    display: flex;
    padding: 20px;
    margin: 20px;
}
.redes li {
    font-family: 'Lobster', cursive;
    color: aliceblue;
    margin-left: 20px;
    padding: 20px;
}
h1{
    font-family: 'Lobster', cursive;
    margin-top: 30px;
    text-align: center;
    color: #ffd700;
}
.h1{
    color: black;
    text-align: center;
}
.flex > div{
    flex: 1 1 200px 150px;
    margin: 20px; 
    display: 'block';
}
.flex{
    display:flex;
    margin: 20px;
    max-width: 200px 150px;
    flex-wrap: wrap;
    text-align: center;
}